header{
    position: absolute;
    top :0px;
    margin: 0px;
}


#women
{
    background-color: rgb(212, 212, 212);
}
#nav
{
    position: absolute;
    top: 0px;
}

#nav-input
{
    background-color: transparent;
    width: 450px;
    height: 40px;
    margin-left: 300px;
}

.nav-icons
{
    margin-left: 300px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    padding: 8px;
    margin-top: 12px;

}

ul i{
    padding: 6px;
}
 

ul li{
    margin-top: 10px;
}

ul a{
    text-decoration: none;
    color: black;
}

footer h5
{
    font-weight: 400;
}
footer h6
{
    font-weight: 400;
}
#terms ul
{
    font-size: smaller;
} 
#low
{
    margin-left: 300px;
}



/* Default styles for large screens */
#women-section, #men-section {
    margin-bottom: 30px;
  }
  
  /* Media query for small devices (max-width: 576px) */
  @media (max-width: 576px) {
    #women-section img {
      max-height: 250px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 30px;
      height: 30px;
    }
  }


  .col-2, .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .ms-5 {
    margin-left: 0 !important;
  }

  #terms .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  #terms ul {
    flex-direction: column;
  }

  .text-end {
    text-align: center;
  }

  button {
    width: 100%;
  }

  .border-bottom {
    width: 100%;
  }

  footer .row {
    padding: 0;
  }